html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.5;
}

a:active,
a:hover {
    outline: 0;
}

@font-face {
    font-family: "responsivenav";
    src: url("../icons/responsivenav.eot");
    src: url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* HEADER */

header {
    background-color: #717171;
    overflow: auto;
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: 80px, auto;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}


#logo {
    box-sizing: border-box;
    max-height: 60px;
    max-width: 60px;
    grid-row: 1/2;
    grid-column: 1/2;
    border-radius: 16px;
    border: 4px solid #B39DDB;
    transition: all 250ms linear;
}

.logo-link {
  width: 60px;
  height: 60px;
}

.logo-link:hover > #logo, .logo-link:focus > #logo {
  box-shadow: 2px 2px #B39DDB, 4px 4px #B39DDB;
  transform: translateY(-5px);
}


.nav-toggle {
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: flex-end;
}

.nav-toggle:before {
  color: white; /* edit this to change the icon color */
  font: normal 45px/55px "responsivenav"; /* edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* hamburger icon */
  text-indent: 0;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 40px;
  content: "\78"; /* X/close icon */
}

.nav-collapse {
  grid-row: 2/3;
  grid-column: 1/3;
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: flex-end;
}

.menu-item.homeitem a{
  border: 4px solid #FFB74D;
}

.menu-item.aboutitem a{
  border: 4px solid #FF8A65;
}  

.menu-item.gamesitem a{
  border: 4px solid #64B5F6;
}  

.menu-item.galleryitem a{
  border: 4px solid #4DB6AC;
}  

.menu-item:hover, .menu-item:focus {
  cursor: pointer;
}

.menu-item.homeitem a:hover, .menu-item.homeitem a:focus {
  background-color: #FFB74D;
}

#home-menuitem {
  background-color: #FFB74D;
}

.menu-item.aboutitem a:hover, .menu-item.aboutitem a:focus {
  background-color: #FF8A65;
}

#about-menuitem {
  background-color: #FF8A65;
}

.menu-item.gamesitem a:hover, .menu-item.gamesitem a:focus {
  background-color: #64B5F6;
}

#games-menuitem {
  background-color: #64B5F6;
}

.menu-item.galleryitem a:hover, .menu-item.galleryitem a:focus {
  background-color: #4DB6AC;
}

#gallery-menuitem {
  background-color: #4DB6AC;
}

.js .nav-collapse {
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-collapse,
.nav-collapse * {
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 8px;
}

li {
  align-items: center;
  justify-items: center;
}

.nav-collapse a {
  font-family: "inclusive-sans", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black;
  display: block;
  width: 140px;
  height:50px;
  background-color: #E2CEB1;
  border-radius: 8px;
  transition: background-color 250ms linear;
  text-align: center;
  padding-top: 15px;
  line-height: 1;
}

.nav-collapse ul ul a {
  padding-left: 2em;
}

/* BANNER IMAGE */
.banner-div {
  margin-top: 80px;
  height: 150px;
}

.banner-image {
  width: 100%;
  height: 150px;
  object-position: center;
  object-fit: cover;
}

/* TITLE AREA */

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1 {
  font-family: "kavoon", serif;
  font-size: 48px;
  line-height: 1;
}

.h1-home {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 20px;
}

.h1-else {
  margin-left: 20px;
}

h2 {
  text-align: center;
  font-family: "inclusive-sans", sans-serif;
  font-size: 18px;
}

.title-blurb {
  font-family: "inclusive-sans", sans-serif;
  text-align: center;
  padding: 10px;
  background-color: #E2CEB1;
  border-radius: 16px;
  border: 4px solid #FFB74D;
  width: fit-content;
  font-size: 16px;
  margin: 0 20px;
}

/* NAVIGATION BOXES */
.navigation-blocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  margin-top: 50px;
}

.block {
  height: 200px;
  background-color: #E2CEB1;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  transition: all 250ms linear;
}

.block.games {
  border: 4px solid #B39DDB;
}

.block.about{
  border: 4px solid #4DB6AC;
}

.image-block {
    flex: 1;
}

.background-card-about {
    display: block;
    text-indent: -9999px;
    width: 100%;
    height: 100%;
    background-image: url(../img/AboutCard.png);
    object-fit: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-position: 60% bottom;
}

.background-card-games {
    display: block;
    text-indent: -9999px;
    width: 100%;
    height: 100%;
  background-image: url(../img/GamesCard.png);
  object-fit: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-position: right bottom;
}

.imagebox-games {
  background-color: #B39DDB;
}

.block-text {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.block-text a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "instrument-sans", sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 2rem;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 250ms linear;
}

.block-text a p {
  display: inline;
  padding-left: 5px;
}

.block.about:has(a:hover), .block.about:has(a:focus) {
  box-shadow:3px 3px #4DB6AC, 5px 5px #4DB6AC;
  transform: translateY(-10px);
}

.block.games:has(a:hover), .block.games:has(a:focus) {
  box-shadow:3px 3px #B39DDB, 5px 5px #B39DDB;
  transform: translateY(-10px);
}

/* ABOUT US PAGE */

.about-wrapper {
  display: flex;
  flex-direction: column;
}

.about-wrapper img {
  width: 80vw;
  border: 4px solid #FFB74D;
  border-radius: 32px;
  margin-left: 20px;
}

.about-us-text {
  max-width: 800px;
}

.about-us-text p {
  width: fit-content;
  font-family: "inclusive-sans", sans-serif;
  font-size: 16px;
  background-color:#E2CEB1;
  border-radius: 16px;
  padding: 10px;
  margin: 20px;
}

.about1 {
  border: 4px solid #FF8A65;
  border-radius: 32px;
}

.about2 {
  border: 4px solid #64B5F6;
  border-radius: 32px;
}

.about3 {
  border: 4px solid #B39DDB;
  border-radius: 32px;
}

.about4 {
  border: 4px solid #4DB6AC;
  border-radius: 32px;
}

/* GAMES PAGE */

.iframe-wrapper {
  margin: 20px;
  height: 600px;
}

iframe {
  width: 100%;
  height: 100%;
  border: 4px solid #64B5F6;
  border-radius: 32px;
}

/* GALLERY PAGE */

.main-collage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.main-collage img {
  width: 80vw;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  margin-top: 200px;
}

.email-line {
  display: flex;
  align-items: center;
}

.contact-info {
  font-family: "instrument-sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.email-address {
  font-family: "inclusive-sans", sans-serif;
}

.connect-images {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center
}

.icon {
  width: 50px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .nav-collapse {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  
  .nav-collapse ul {
  flex-direction: row;
  align-items: flex-end;
}
  
  .nav-collapse li {
    width: auto;
  }

  .nav-collapse a {
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    margin: 0;
  }

  .nav-collapse ul ul a {
    display: none;
  }

  .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }

  .banner-div {
  height: 250px;
}

  .banner-image {
    height: 250px;
  }

  h1 {
    font-size: 96px;
    margin-top: 50px;
    
  }

  .h1-else {
    margin-left: 60px;
  }

  h2 {
    font-size: 32px;
  }

  .title-blurb {
    font-size: 16px;
  }

  .navigation-blocks {
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
  }

  .block {
    height: 380px;
    width: 30%;
  }

  .about-us-text {
  width: 60%;
}

.about-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about-wrapper img {
  width: 30vw;
  border: 4px solid #FFB74D;
  border-radius: 32px;
}

  .about-us-text p {
    font-size: 24px;
    margin-left: 60px;
  }

  .iframe-wrapper {
  margin: 50px;
  height: 600px;
}

.main-collage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat (3, auto);
  gap: 50px;
  align-items: center;
  justify-items: center;
}

.main-collage img {
  width: 20vw;
}

  footer {
    flex-direction: row;
  }
}